.header{
    margin: 10px 0;
    height: 140px;
}
.row{
    height: 100%;
}
.logo-cover{
    text-align: center;
    margin-top: 20px;
}
.logo-img{
    height: 85%;
    width: 45%;
}

.introduction-cover,.covid-warning-cover{
    height: 44px;
    text-align: center;
    background-color:#1167b1;
    color: white;
}
.introduction,.covid-warning{
  width: 70%;
  margin: 0 auto;
  padding:10px auto;
  font-size: 15px;
  line-height: 20px;
}
.footer{
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
.copyright{
    margin-top: 7px;
}

.main{
    background-color:#03254c;
}
.sub-form{
    background-color: white;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
}
.sub-form>div{
    text-align: center;
}
.form-head{
    font-size: 20px;
    color: white;
    padding: 4px 0 2px 0;
}
.head-col{
    background-color:#1167b1;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
}
.form-label{
    font-size: 18px;
    
}
textarea{
    width: 100%;
}
textarea:focus,input:focus{
    border-color: #03254c;
}
.submit-btn-cover{
    margin: 20px auto;
    width: 92%;
    
}
.submit-btn{
    width: 100%;
    border-radius: 10px;
    color:white;
    background-color:  #1167b1;
    font-size: 20px;
}
@media (max-width: 1200px){
    .introduction,.covid-warning{
        font-size :13px;
    }
}
@media (max-width: 1050px){
    .introduction,.covid-warning{
        width: 80%;
    }
    .logo-cover{
        margin-top: 20px;
    }
    .logo-img{
        height: 85%;
        width: 50%;
    }
    .submit-btn-cover{
        width: 94%;
    }
}
@media (max-width: 900px){
    .introduction,.covid-warning{
        width: 95%;
    }
    .header{
        height: 130px;
    }
    .logo-img{
        width: 55%;
    }
}
@media (max-width: 766px){
    .introduction-cover,.covid-warning-cover{
        height: 59px;
    }
    .introduction,.covid-warning{
        width: 100%;
    }
    .logo-img{
        height: 80%;
        width: 40%;
    }
}
@media (max-width: 620px){
    .introduction-cover,.covid-warning-cover{
        height: 59px;
    }
    .submit-btn-cover{
        width: 96%;
    }
}
@media (max-width: 530px){
    .introduction-cover,.covid-warning-cover{
        height: 80px;
    }
    .logo-img{
        width: 50%;
    }
    input{
        width: 90%;
    }
}
@media (max-width: 380px){
    .introduction,.covid-warning{
        font-size :12px;
    }
    .introduction-cover,.covid-warning-cover{
        height: 100px;
    }
    .logo-img{
        width: 65%;
    }
}